.nav-link.active{
    background: rgb(0, 0, 0);
    color: white;
}

.nav-link{
    background: white;
    
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-left: 10px;
}

.nav-link:hover{
    color: grey;
}

.navbar {
    height: 60px;
}



.cell-table > tbody {
    display:block !important;
    width: 98%;
    padding-left: 2em;
}

.cell-table {
    display:block !important
}

.row.row-1 {
    display:block !important
}

.row.row-0 {
    display:block !important
}