.nav-link.active{
    background: rgb(0, 0, 0);
    color: white;
}

.nav-link{
    background: white;
    
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-left: 10px;
}

.nav-link:hover{
    color: grey;
}

.navbar {
    height: 60px;
}